#container {
    margin: 5px;
}

footer {
    font-size: 0.75em;
    background-color: black;
    color: white;
    clear: both;
}

#test1 {
    float: left;
    background-color: rebeccapurple;
    color: darkgoldenrod;
    width: 48%;
    padding: 3px;
    border: 1px solid black;
}

#test2 {
    float: right;
    background-color: cornflowerblue;
    color: aliceblue;
    width: 48%;
    border: 1px solid black;
}